<div id="stock_market_info_modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2 id="modalTitle">The Stock Market Game</h2>
  <p class="lead">WARNING : Your game will not save if you are not signed in. You can try it out and then sign up to save if you like it.</p>
  <p class="lead">Disclosure : The stock data is from yahoo finance. Please see their fine print to see what the limitations are of this data. I can not guarantee accuracy of the data.</p>
  <p>This is a simple game that is a project of mine. It is by no means a complete application... yet. Check back for improvements Enjoy.</p>
  <p>I will not use, sell, look at, or do anything else with any information collected by this app.</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div id="account_modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<div class = "row" id = "account_modal_login">
		<%= form_for :session, url: sessions_path, html: {id: "login_form"} do |f|%>
		  <div>
		    <h2>Login</h2>
		  </div>
		  <div>
		    <%= f.label :email %><br>
		    <%= f.email_field :email %>
		  </div>
		  <div>
		    <%= f.label :password %><br>
		    <%= f.password_field  :password %>
		  </div>
		  <div>
		    <%= f.submit("Login", :class => "submit button", :id => "submit") %>
		  </div>
		<% end %>
	</div>
	<div class = "row" id = "account_modal_signup">
		<%= form_for(@user, html: { class: :form, id: "signup_form"}) do |f| %>
		  <% if @user.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
		      <ul>
		      <% @user.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		  <div>
		    <%= f.label :email %><br>
		    <%= f.email_field :email %>
		  </div>
		  <div>
		    <%= f.label :password %><br>
		    <%= f.password_field  :password %>
		  </div>
		  <div>
		    <%= f.label :first_name %><br>
		    <%= f.text_field :first_name %>
		  </div>
		  <div>
		    <%= f.label :middle_name %><br>
		    <%= f.text_field :middle_name %>
		  </div>
		  <div>
		    <%= f.label :last_name %><br>
		    <%= f.text_field :last_name %>
		  </div>
		  <div>
		    <% button_text = (@edit ? "Save" : "Sign up")%>
		    <%= f.submit(button_text, :class => "submit button", :id => "submit") %>
		  </div>
		<% end %>
	</div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div class = "row">
	<div class = "large-8 columns panel" id = "sidebar">
		<div class = "row">
			<div class = "large-12 columns">
				<h3>Stocks owned</h3>
			</div>
		</div>
		<div class "row" id = "the_list_below">
			<div class = "large-2 columns">
				<a href = "#" id = "buy_stock_link" class = "button tiny">Buy stock</a>
			</div>
			<div class = "large-10 columns">
				<a href = "#" id = "sell_stock_link" class = "button tiny">Sell stock</a>
			</div>
		</div>
		<div class "row" id = "sidebar_new_stock_search" style = "display: none;">
			<div class = "large-12 columns">
				<form id = "sidebar_get_stock">
					<lable for = "stock_symbol">Enter a Stock Symbol</lable>
					<input name = "stock_symbol" type = "text" id = "sidebar_get_stock_type" autofocus>
					<div id = "enter_value_warning" class = "warning" style = "display:none;"><h5>Please enter an amount</h5></div>
					<lable for = "stock_amount">How Many?</lable>
					<input name = "stock_amount" type = "number" id = "sidebar_get_stock_amount">
					<input type = "submit" value = "Buy" class = "button" id = "buy_sell_button">
				</form>
			</div>
		</div>
		<div id = "sample">
			<div class = "row sidebar_stock" style = "display: none;">
				<form class = "update_button">
					<div class = "large-1 columns symbol"></div>
					<div class = "large-1 columns amount"></div>
					<div class = "large-2 columns priceBought"></div>
					<div class = "large-2 columns currentPrice"></div>
					<div class = "large-2 columns currentValue"></div>
					<div class = "large-2 columns gainLoss"></div>
					<div class = "large-1 columns">
						<a href = "#" class = "buy_stock_link button tiny">Buy</a>
					</div>
					<div class = "large-1 columns">
						<a href = "#" class = "sell_stock_link button tiny">Sell</a>
					</div>
				</form>
			</div>
		</div>
		<div class = "row sidebar_stock">
				<div class = "large-1 columns symbol">Symbol</div>
				<div class = "large-1 columns amount">Amount</div>
				<div class = "large-2 columns priceBought">Purchase Price</div>
				<div class = "large-2 columns currentPrice">Current Price</div>
				<div class = "large-2 columns currentValue">Current Value</div>
				<div class = "large-2 columns left gainLoss">Gain or Loss</div>
		</div>
	</div>
	<div class = "large-1 columns">
	</div>
	<div class = "large-3 columns panel">
		<div class = "row">
			<div class = "large-12 columns">
				<a href="https://www.yahoo.com/?ilc=401" target="_blank"> <img src="https://poweredby.yahoo.com/purple.png" width="134" height="29"/></a>
			</div>
			<div class = "large-12 columns warning" id = "not_signed_in_warning" style = "display:<%= !current_user ? "block" : "none" %>;">
				<h4>Not Saved!</h4>
				<p>login or signup to save</p>
			</div>
			<div class = "large-12 columns warning" id = "no_email_verification_warning" style = "display:<%= current_user && current_user.email_verification != "true" ? "block" : "none" %>;">
				<h4>Still Not Saved!</h4>
				<p>Please verify your email by clicking the link in the email that was sent to you, it may be in your spam folder. After you have done that your game will save within 10 seconds. Do not close this page until you dont see this any more.</p>
			</div>
			<div class = "large-12 columns">
				<h3>Account details</h3>
			</div>
		</div>
		<div class = "row">
			<div class = "large-12 columns">
				<h3>cash :</h3>
				<p id = "bank_cash">10000.00</p>
				<h3>stock value :</h3>
				<p id = "bank_stock_value">0.00</p>
				<h3>total net worth :</h3>
				<p id = "bank_total">10000.00</p>
			</div>
		</div>
	</div>
</div>